* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #112e42;
    
    color: whitesmoke;
    
    
    
  }
  p{
    justify-content: center;
    display: flex;
    font-size: 40px;
    padding-top: 150px;
  }